@model IEnumerable<Sisvon.Model.Entities.Sincronizar>

@{
    ViewBag.Title = "Importar";
}
<div class="col-sm-12 bg-color-white">
    <div class=" body-content-padding">
        <h2>Importar</h2>

        <form action="@Url.Action("ImportarProdutos")" method="POST" class="form-group">
            <button class="btn btn-sm btn-success" type="submit">Atualizar</button>
        </form>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrupoNome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubClasseNome)
                    </th>

                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="chSincronizar" id="chSincronizar" value="@item.SincronizarId" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Preco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrupoNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubClasseNome)
                            </td>
                        </tr>
                    }
                }

            </table>
            <div class="form-group">
                <div class="col-sm-2">
                    <a class="btn-sm btn btn-warning" onclick="history.back()">Voltar</a>
                </div>
                <div class="col-sm-10">
                    <input type="submit" value="Importar Selecionados" class="btn btn-success"/>
                </div>
            </div>
        }

    </div>
</div>
